# CryptoBot with Binance Project

## Import Libraries

In [1]:
# import libraries
import config
import pandas as pd
from binance.client import Client
from pymongo import MongoClient

## Get Daily Data for "BTCUSDT" with API

In [3]:
# Create Client
client = Client(config.APIKey, config.SecretKey)

# Select Asset, Interval
symbol = "BTCUSDT"
interval = Client.KLINE_INTERVAL_1DAY
start_date = "2017-01-01"

# Get Daily Data
klines = client.get_historical_klines(symbol, interval, start_date)

# Create Columns
columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume',
            'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']
df_daily = pd.DataFrame(klines, columns=columns)

# Change Type
cols_float = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume','taker_buy_quote_asset_volume', 'ignore']
df_daily[cols_float] = df_daily[cols_float].astype(float)
df_daily['timestamp'] = pd.to_datetime(df_daily['timestamp'], unit='ms')
df_daily['close_time'] = pd.to_datetime(df_daily['close_time'], unit='ms')

# Show DataFrame
df_daily.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
2103,2023-05-21,27102.42,27277.55,26666.03,26747.78,21347.87279,2023-05-21 23:59:59.999,5.752136e+08,568937,9855.43959,2.655268e+08,0.0
2104,2023-05-22,26747.78,27099.89,26538.21,26849.27,26458.83828,2023-05-22 23:59:59.999,7.095950e+08,717111,12639.67925,3.389828e+08,0.0
2105,2023-05-23,26849.28,27495.83,26798.11,27219.61,38700.83858,2023-05-23 23:59:59.999,1.054566e+09,816399,18966.20117,5.167378e+08,0.0
2106,2023-05-24,27219.61,27219.61,26080.50,26329.01,54393.06570,2023-05-24 23:59:59.999,1.442636e+09,1012767,26698.91191,7.078702e+08,0.0
2107,2023-05-25,26329.00,26394.37,25871.89,26270.63,15548.46777,2023-05-25 23:59:59.999,4.068352e+08,328024,7267.94446,1.901832e+08,0.0

In [4]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2108 entries, 0 to 2107
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     2108 non-null   datetime64[ns]
 1   open                          2108 non-null   float64
 2   high                          2108 non-null   float64
 3   low                           2108 non-null   float64
 4   close                         2108 non-null   float64
 5   volume                        2108 non-null   float64
 6   close_time                    2108 non-null   datetime64[ns]
 7   quote_asset_volume            2108 non-null   float64
 8   number_of_trades              2108 non-null   int64
 9   taker_buy_base_asset_volume   2108 non-null   float64
 10  taker_buy_quote_asset_volume  2108 non-null   float64
 11  ignore                        2108 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(1)
memory usage: 197.8 KB

## Get Hourly Data for "BTCUSDT" with API

In [5]:
# Create Client
client = Client(config.APIKey, config.SecretKey)

# Select Asset, Interval
symbol = "BTCUSDT"
interval = Client.KLINE_INTERVAL_1HOUR
start_date = "2017-01-01"

# Get Hourly Data
klines = client.get_historical_klines(symbol, interval, start_date)

# Create Columns
columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
           'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
           'taker_buy_quote_asset_volume', 'ignore']
df_hourly = pd.DataFrame(klines, columns=columns)

# Change Type
cols_float = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']
df_hourly[cols_float] = df_hourly[cols_float].astype(float)
df_hourly['timestamp'] = pd.to_datetime(df_hourly['timestamp'], unit='ms')
df_hourly['close_time'] = pd.to_datetime(df_hourly['close_time'], unit='ms')
df_hourly['number_of_trades'] = df_hourly['number_of_trades'].astype(int)

# Show DataFrame
df_hourly.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
50442,2023-05-25 06:00:00,26260.11,26300.00,26220.01,26261.27,918.14311,2023-05-25 06:59:59.999,2.411484e+07,24174,418.93695,1.100338e+07,0.0
50443,2023-05-25 07:00:00,26261.26,26267.29,26126.76,26131.27,1260.39696,2023-05-25 07:59:59.999,3.300836e+07,32711,545.78248,1.429173e+07,0.0
50444,2023-05-25 08:00:00,26131.27,26252.26,26128.37,26223.87,1292.58748,2023-05-25 08:59:59.999,3.386971e+07,27670,613.84471,1.608382e+07,0.0
50445,2023-05-25 09:00:00,26223.87,26286.76,26223.04,26284.76,924.32631,2023-05-25 09:59:59.999,2.426253e+07,23636,483.57380,1.269427e+07,0.0
50446,2023-05-25 10:00:00,26284.76,26302.88,26241.61,26264.52,430.14489,2023-05-25 10:59:59.999,1.129753e+07,10196,210.12775,5.519111e+06,0.0

## Get Weekly Data for "BTCUSDT" with API

In [6]:
# Create Client
client = Client(config.APIKey, config.SecretKey)

# Select Asset, Interval
symbol = "BTCUSDT"
interval = Client.KLINE_INTERVAL_1WEEK
start_date = "2017-01-01"

# Get Hourly Data
klines = client.get_historical_klines(symbol, interval, start_date)

# Create Columns
columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
           'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
           'taker_buy_quote_asset_volume', 'ignore']
df_weekly = pd.DataFrame(klines, columns=columns)

# Change Type
cols_float = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']
df_weekly[cols_float] = df_weekly[cols_float].astype(float)
df_weekly['timestamp'] = pd.to_datetime(df_weekly['timestamp'], unit='ms')
df_weekly['close_time'] = pd.to_datetime(df_weekly['close_time'], unit='ms')
df_weekly['number_of_trades'] = df_weekly['number_of_trades'].astype(int)

# Show DataFrame
df_weekly.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
297,2023-04-24,27590.59,30036.00,26942.82,29233.21,444613.47701,2023-04-30 23:59:59.999,1.277160e+10,9248254,222195.37101,6.383410e+09,0.0
298,2023-05-01,29233.20,29820.00,27666.95,28430.10,360117.97447,2023-05-07 23:59:59.999,1.035488e+10,8366414,175604.66457,5.049605e+09,0.0
299,2023-05-08,28430.09,28631.01,25811.46,26917.62,338765.74243,2023-05-14 23:59:59.999,9.246866e+09,7982133,164889.34252,4.500215e+09,0.0
300,2023-05-15,26917.61,27663.59,26361.20,26747.78,230394.72253,2023-05-21 23:59:59.999,6.232671e+09,5632311,110813.79288,2.998025e+09,0.0
301,2023-05-22,26747.78,27495.83,25871.89,26264.53,135114.79067,2023-05-28 23:59:59.999,3.613989e+09,2874667,65578.45818,1.753924e+09,0.0

## Get Monthly Data for "BTCUSDT" with API

In [7]:
# Create Client
client = Client(config.APIKey, config.SecretKey)

# Select Asset, Interval
symbol = "BTCUSDT"
interval = Client.KLINE_INTERVAL_1MONTH
start_date = "2017-01-01"

# Get Hourly Data
klines = client.get_historical_klines(symbol, interval, start_date)

# Create Columns
columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
           'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
           'taker_buy_quote_asset_volume', 'ignore']
df_monthly = pd.DataFrame(klines, columns=columns)

# Change Type
cols_float = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']
df_monthly[cols_float] = df_monthly[cols_float].astype(float)
df_monthly['timestamp'] = pd.to_datetime(df_monthly['timestamp'], unit='ms')
df_monthly['close_time'] = pd.to_datetime(df_monthly['close_time'], unit='ms')
df_monthly['number_of_trades'] = df_monthly['number_of_trades'].astype(int)

# Show DataFrame
df_monthly.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
65,2023-01-01,16541.77,23960.54,16499.01,23125.13,7.977029e+06,2023-01-31 23:59:59.999,1.641314e+11,195640242,3.970265e+06,8.170306e+10,0.0
66,2023-02-01,23125.13,25250.00,21351.07,23141.57,8.642691e+06,2023-02-28 23:59:59.999,2.020980e+11,237616543,4.307960e+06,1.007499e+11,0.0
67,2023-03-01,23141.57,29184.68,19549.09,28465.36,9.516189e+06,2023-03-31 23:59:59.999,2.309769e+11,225288488,4.763491e+06,1.156634e+11,0.0
68,2023-04-01,28465.36,31000.00,26942.82,29233.21,1.626746e+06,2023-04-30 23:59:59.999,4.701452e+10,34498914,8.144870e+05,2.354263e+10,0.0
69,2023-05-01,29233.20,29820.00,25811.46,26261.49,1.064398e+06,2023-05-31 23:59:59.999,2.944852e+10,24855629,5.168882e+05,1.430182e+10,0.0

## Save data to csv

In [9]:
df_hourly.to_csv("data/BTCUSDT_2017_01_01_to_2023_05_25_hourly.csv", index=False)
df_daily.to_csv("data/BTCUSDT_2017_01_01_to_2023_05_25_daily.csv", index=False)
df_weekly.to_csv("data/BTCUSDT_2017_01_01_to_2023_05_25_weekly.csv", index=False)
df_monthly.to_csv("data/BTCUSDT_2017_01_01_to_2023_05_25_monthly.csv", index=False)

## MongoDB Connection

In [11]:
from pymongo import MongoClient

# Create MongoDB client
client = MongoClient('localhost', 27017)

# Create database and collection
binance = client['binance']

btc = binance['btc']

# Convert df (Dataframe) to dictionary
data = df_daily.to_dict(orient='records')

# Add all datas to MongoDB 
btc.insert_many(data)

# See all databases
client.list_database_names()

['admin', 'binance', 'config', 'local', 'sample']

In [12]:
btc.find_one()

{'_id': ObjectId('645d578e03834d5ed5a1c3bb'),
 'timestamp': datetime.datetime(2017, 8, 17, 0, 0),
 'open': 4261.48,
 'high': 4485.39,
 'low': 4200.74,
 'close': 4285.08,
 'volume': 795.150377,
 'close_time': datetime.datetime(2017, 8, 17, 23, 59, 59, 999000),
 'quote_asset_volume': 3454770.05073206,
 'number_of_trades': 3427,
 'taker_buy_base_asset_volume': 616.248541,
 'taker_buy_quote_asset_volume': 2678216.40060401,
 'ignore': 0.0}

# PgAdming4 Connection

## Connection and First Query

In [4]:
import psycopg2
from sqlalchemy import create_engine,select, insert

conn = psycopg2.connect(database="ProjectBinance",
			user='postgres', password=config.pgadminPassword,
			host='127.0.0.1', port='5432'
)

conn.autocommit = True
cursor = conn.cursor()


create_table_query = '''CREATE TABLE IF NOT EXISTS daily (id serial PRIMARY KEY,
timestamp TIMESTAMP,
open NUMERIC, 
high NUMERIC,
low NUMERIC,
close NUMERIC,
volume NUMERIC,
close_time TIMESTAMP,
quote_asset_volume NUMERIC,
number_of_trades NUMERIC,
taker_buy_base_asset_volume NUMERIC,
taker_buy_quote_asset_volume NUMERIC,
ignore NUMERIC);'''


cursor.execute(create_table_query)


# connection string: driver://username:password@server/database
engine = create_engine(config.createEngine)


#  Note:  if_exists can be append, replace, fail.  
df_daily.to_sql('daily', engine, if_exists='append', index = False)

# Query 
sql01 = '''SELECT * FROM daily LIMIT 5'''
cursor.execute(sql01)
for i in cursor.fetchall():
	print(i)

# Commit 
conn.commit()

(1, datetime.datetime(2017, 8, 17, 0, 0), Decimal('4261.48'), Decimal('4485.39'), Decimal('4200.74'), Decimal('4285.08'), Decimal('795.150377'), datetime.datetime(2017, 8, 17, 23, 59, 59, 999000), Decimal('3454770.05073206'), Decimal('3427'), Decimal('616.248541'), Decimal('2678216.40060401'), Decimal('0.0'))
(2, datetime.datetime(2017, 8, 18, 0, 0), Decimal('4285.08'), Decimal('4371.52'), Decimal('3938.77'), Decimal('4108.37'), Decimal('1199.888264'), datetime.datetime(2017, 8, 18, 23, 59, 59, 999000), Decimal('5086958.30617151'), Decimal('5233'), Decimal('972.86871'), Decimal('4129123.31651808'), Decimal('0.0'))
(3, datetime.datetime(2017, 8, 19, 0, 0), Decimal('4108.37'), Decimal('4184.69'), Decimal('3850.0'), Decimal('4139.98'), Decimal('381.309763'), datetime.datetime(2017, 8, 19, 23, 59, 59, 999000), Decimal('1549483.73542151'), Decimal('2153'), Decimal('274.336042'), Decimal('1118001.87008735'), Decimal('0.0'))
(4, datetime.datetime(2017, 8, 20, 0, 0), Decimal('4120.98'), Decimal('4211.08'), Decimal('4032.62'), Decimal('4086.29'), Decimal('467.083022'), datetime.datetime(2017, 8, 20, 23, 59, 59, 999000), Decimal('1930364.39032646'), Decimal('2321'), Decimal('376.795947'), Decimal('1557401.3337373'), Decimal('0.0'))
(5, datetime.datetime(2017, 8, 21, 0, 0), Decimal('4069.13'), Decimal('4119.62'), Decimal('3911.79'), Decimal('4016.0'), Decimal('691.74306'), datetime.datetime(2017, 8, 21, 23, 59, 59, 999000), Decimal('2797231.71402728'), Decimal('3972'), Decimal('557.356107'), Decimal('2255662.55315837'), Decimal('0.0'))