# CryptoBot with Binance Project

## import libraries

In [6]:
# import libraries
import pandas as pd
import config
from binance.client import Client


# Display settings 
#pd.options.display.float_format = '{:.6f}'.format

## Get Data for "BTCUSDT" with API

In [8]:
client = Client(config.APIKey, config.SecretKey)

klines_BTCUSDT = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1DAY, "1 Jan, 2017", "now")

df = pd.DataFrame(klines_BTCUSDT, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df.tail()

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
2085,2023-05-03,28669.85000000,29266.66000000,28113.69000000,29026.16000000,64615.79213000,1683158399999,1845961218.84324360,1502909,32291.20998000,922549963.25075790,0
2086,2023-05-04,29026.16000000,29379.83000000,28663.64000000,28838.16000000,42575.47501000,1683244799999,1233816136.16065770,961542,20470.21240000,593281438.93813760,0
2087,2023-05-05,28838.16000000,29677.00000000,28800.00000000,29505.61000000,58415.83048000,1683331199999,1709786814.90113400,1288027,29071.98606000,850975342.64243030,0
2088,2023-05-06,29505.60000000,29820.00000000,28300.00000000,28848.20000000,49249.28459000,1683417599999,1429517892.78050220,1221021,23315.95073000,676717267.01172240,0
2089,2023-05-07,28848.19000000,29138.29000000,28744.08000000,28883.41000000,8085.98473000,1683503999999,233592953.87432060,214023,4194.36921000,121171183.86270880,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     2090 non-null   datetime64[ns]
 1   open                          2090 non-null   object
 2   high                          2090 non-null   object
 3   low                           2090 non-null   object
 4   close                         2090 non-null   object
 5   volume                        2090 non-null   object
 6   close_time                    2090 non-null   int64
 7   quote_asset_volume            2090 non-null   object
 8   number_of_trades              2090 non-null   int64
 9   taker_buy_base_asset_volume   2090 non-null   object
 10  taker_buy_quote_asset_volume  2090 non-null   object
 11  ignore                        2090 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 196.1+ KB

## Change data types object to float

In [12]:
df.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time',
       'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume', 'ignore'],
      dtype='object')

In [13]:
df[['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume','taker_buy_quote_asset_volume', 'ignore']] = df[['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume','taker_buy_quote_asset_volume', 'ignore']].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090 entries, 0 to 2089
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   timestamp                     2090 non-null   datetime64[ns]
 1   open                          2090 non-null   float64
 2   high                          2090 non-null   float64
 3   low                           2090 non-null   float64
 4   close                         2090 non-null   float64
 5   volume                        2090 non-null   float64
 6   close_time                    2090 non-null   int64
 7   quote_asset_volume            2090 non-null   float64
 8   number_of_trades              2090 non-null   int64
 9   taker_buy_base_asset_volume   2090 non-null   float64
 10  taker_buy_quote_asset_volume  2090 non-null   float64
 11  ignore                        2090 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(2)
memory usage: 196.1 KB

## Save data to csv

In [15]:
df.to_csv("data/BTCUSDT_2017_01_01_to_2023_05_07.csv", index=False)